elpa/
.cache/
emms/
eshell/
eln-cache/
auto-save/
auto-save-list/
backups/
games/
image-dired/
multisession/
ido.last
history
places
projects
recentf
smex-items
tramp
transient/
tree-sitter/
url/
.mc-lists.el
multiple-cursors-lists.el
.org-generic-id-locations
.org-id-locations
bookmarks
oauth2-auto.plist
persist/
request/
*.elc
