@define-color theme_bg_color #062329;
@define-color theme_fg_color #d1b897;
@define-color theme_base_color #041818;
@define-color theme_text_color #d1b897;
@define-color theme_selected_bg_color #66d9ef;
@define-color theme_selected_fg_color #062329;
@define-color insensitive_bg_color #0a3b40;
@define-color insensitive_fg_color #7a8f8f;
@define-color borders #126367;
@define-color accent_bg_color #66d9ef;
@define-color accent_fg_color #062329;
@define-color accent_color #66d9ef;
@define-color window_bg_color #062329;
@define-color window_fg_color #d1b897;
@define-color view_bg_color #041818;
@define-color view_fg_color #d1b897;
@define-color headerbar_bg_color #031c1c;
@define-color headerbar_fg_color #fff2c9;
@define-color sidebar_bg_color #062329;
@define-color sidebar_fg_color #d1b897;
@define-color card_bg_color #041818;
@define-color card_fg_color #d1b897;
@define-color popover_bg_color #062329;
@define-color popover_fg_color #d1b897;
@define-color destructive_bg_color #f92672;
@define-color success_bg_color #44b340;
@define-color warning_bg_color #fd971f;
@define-color error_bg_color #f92672;

selection, *:selected { background-color: #66d9ef; color: #062329; }
headerbar, .titlebar { background-color: #031c1c; color: #fff2c9; }
popover, popover contents { background-color: #062329; color: #d1b897; }
entry, textview, treeview.view { background-color: #041818; color: #d1b897; }
button.suggested-action { background-color: #66d9ef; color: #062329; }

